/* General styling */
*{
    box-sizing: border-box;  
}

body{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 100%;
    overflow-x: hidden;
}

.main-container > *{
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

/*Section styling */
.portfolio-header{
 margin-bottom: 98px;
}

.presentation {
    margin-bottom: 52px;
}

.soMe{
    display: flex;
    justify-content: space-around;
}

.letsScroll{
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;   
}

.techSec{
    background-color:  #EDFFFF;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.techTxt{
    margin: 62px 0 120px;
}

.featureSec{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    padding-top: 64px;
}

.myWordsSec{
    background-color:  #FCEDEA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillSec{
    background-color:  #FDF2E4;
}

.timeToTalk{
    background-color:  #F5F5F5;;
}


/*Single elements*/
.profileImage{
    width: 164px;
    height: 164px;
    border-radius: 50%;
    display: block;
    margin: 55px auto 29px;
     
}

.logo{
    display: none;
}

.arrow{
width: 19px;
height: 30px;
left: 78px;
top: 67px;
}

.placeholderPic{
    margin-bottom: 24px;
}


/*Headings*/
h1{
    width: 188px;
    height: 38px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #0B24F5;
    display: inline;
    }

h2{
width: 177px;
height: 108px;
left: 99px;
top: calc(50% - 108px/2 - 131px);
font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 108px;
color: #0B24F5;
text-align: center;
}

h3{
    width: 303px;
    height: 43px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 18px;
    }

p{
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28.71px;
}




.scrollTxt{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    color:#0B24F5;
    width: 78px;
    display: inline-block;
    border-bottom: 3px solid #0B24F5;
}

h4{
    width: 189px;
    height: 32px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #565656;
}

.techHeader{
width: 177px;
height: 108px;
left: 99px;
top: calc(50% - 108px/2 - 131px);

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 108px;
}

.featureHeader{
width: 327px;
height: 160px;
left: calc(50% - 327px/2);
top: 1554px;
font-weight: 700;
font-size: 72px;
line-height: 80px;
margin-bottom: 64px;
text-align: left;
}

.myWordsHeader{
    color: #EB5577;
    width: 325px;
    height: 97px;
    left: calc(50% - 325px/2 - 1px);
    top: calc(50% - 97px/2 - 1957.5px);
    font-weight: 700;
    font-size: 72px;
    line-height: 97px;
    margin: 64px 0;
}

.date{
    width: 327px;
    height: 27px;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: #EB5577;
}


.featureChild{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-bottom: 80px;
}

.tags{
    display: inline;
}
    
.tags > * {
height: 22px;
font-family: 'Satoshi';
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
background-color: #000000;
display: inline;
padding: 4px;
margin-top: 20px;
}

/*Buttons*/
.github-button{
    width: 200px;
    height: 48px;
    background: #EB5577;
    border-radius: 40px;
    font-family: 'Satoshi';
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;

}


.live-demo{
    width: 164px;
    height: 48px;
    width: 164px;
    height: 48px;
    background: #0B24F5;
    border-radius: 40px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;

}

.globe{
    width: 31px;
    height: 31px;
    margin: 0 15px 0 0;
}

.github{
    width: 32px;
    height: 32px;
    margin: 0 15px 0 0;
}



.article-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px 0px 0px;
    gap: 7px;
    width: 178px;
    height: 48px;
    border-radius: 40px;
}

.article-img{
    width: 20px;
    height: 26px;
}
