/* General styling */
*{
    box-sizing: border-box;  
}

body{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Section styling */
.presentation-container{
 margin-bottom: 98px;
 padding: 0 24px;
}

.presentation {
    margin-bottom: 52px;
}

.soMe{
    display: flex;
    justify-content: space-around;
}

.letsScroll{
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;   
}

.techSec{
    background-color:  #EDFFFF;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 64px 24px 40px 24px;
    width: 100%;
}

.techTxt{
    margin: 62px 0 24px;
}

.featureSec{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    padding: 64px 24px;
}

.myWordsSec{
    background-color:  #FCEDEA;
    display: flex;
    flex-direction: column;
    padding: 64px 24px;
}

.skillSec{
    background-color:  #FDF2E4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.timeToTalkSec{
    background-color:  #F5F5F5;
    display: flex;
    flex-direction: column;
    padding: 94px 24px 97px 24px;
    width: 100%;
}

.article{
    margin-bottom: 98px;
}

/*Single elements*/
.profileImage{
    width: 164px;
    height: 164px;
    border-radius: 50%;
    display: block;
    margin: 55px auto 29px;   
}

.hero{
    display: none;
}

.arrow{
width: 19px;
height: 30px;
left: 78px;
top: 67px;
}

.placeholderPic{
    margin-bottom: 24px;
}


/*Headings*/
h1{
    height: 38px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #0B24F5;
    display: inline;
    }

h2{
height: 108px;
left: 99px;
font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 108px;
color: #0B24F5;
}

h3{
    width: 303px;
    height: 43px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
   
    }

h5{
    height: 32px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 2px;
}

p{
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28.71px;
}


.scrollTxt{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    color:#0B24F5;
    width: 78px;
    display: inline-block;
    border-bottom: 3px solid #0B24F5;
}

h4{
    height: 32px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #565656;
}

.techHeader{
width: 177px;
height: 108px;
left: 99px;
top: calc(50% - 108px/2 - 131px);

font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 108px;
}

.featureHeader{
width: 327px;
height: 160px;
left: calc(50% - 327px/2);
top: 1554px;
font-weight: 700;
font-size: 72px;
line-height: 80px;
margin-bottom: 64px;
text-align: left;
}

.myWordsHeader{
    color: #EB5577;
    height: 97px;
    left: calc(50% - 325px/2 - 1px);
    top: calc(50% - 97px/2 - 1957.5px);
    font-weight: 700;
    font-size: 72px;
    line-height: 97px;
    text-align: center;
}

.newsHeader{
margin-bottom: 18px;
}

.date{
    width: 327px;
    height: 27px;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: #EB5577;
    margin: 40px 0 4px;
}


.featureChild{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-bottom: 80px;
}

.tags{
    display: inline;
}
    
.tags > * {
height: 22px;
font-family: 'Satoshi';
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
background-color: #000000;
display: inline;
padding: 4px;
margin-top: 20px;
}

/*Buttons*/
.github-button{
    width: 200px;
    height: 48px;
    background: #EB5577;
    border-radius: 40px;
    font-family: 'Satoshi';
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.live-demo{
    width: 164px;
    height: 48px;
    width: 164px;
    height: 48px;
    background: #0B24F5;
    border-radius: 40px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;

}

/* Logos */
.linkedIn-logo, .github-logo, .stackoverflow-logo{
    width: 21px;
    height: 21px;
}

.globe{
    width: 31px;
    height: 31px;
    margin: 0 15px 0 0;
}

.github{
    width: 32px;
    height: 32px;
    margin: 0 15px 0 0;
}



.article-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 178px;
    height: 48px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    gap: 21px;
    justify-content: space-around;
    margin-top: 18px;
}

.article-icon{
    width: 20px;
    height: 26px;
    margin-left: 4px;
}


.codeHead{
background-color: #EB5577;
display: inline;
}

.toolbox{
    background-color:#2483E0;
    display: inline;
}

.more{
    background-color: #0B24F5;
    display: inline;

}

.upcoming{
    background-color: #6DB486;
    display: inline;
}

ul{
    width: 168px;
height: 192px;

font-family: 'EB Garamond';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 32px;
margin: 18px 0 68px;
}


.skillHeader{
    margin: 64px 0 66px;
}

.talkHeader{
height: 78px;
font-weight: 900;
font-size: 58px;
line-height: 78px;
color: #EB5577;
margin: 64px 0 0 0;
}

.phone{
height: 32px;
left: 24px;
top: 560px;
font-weight: 900;
font-size: 24px;
line-height: 32px;

color: #000000;
}

.mail{
height: 32px;
left: 24px;
top: 603px;
font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #000000;
margin-bottom: 103px;
}

@media (min-width: 668px) and (max-width: 1024px) {
    .hero{
        display: block;
        width: 100%;
        height: 412px;
        margin-bottom: 71px;
    }

    .presentation-container{
        padding: 0 102px 0 102px;
        margin-bottom: 20px;
    }

    .profileImage{
        display: inline;
        margin-bottom: -24px;
    }
    .presentation{
        display: inline-block;
        padding: 0 0 10px 24px;
    }

    .presentationTxt{
        padding-left: 60px;
        margin-bottom: 62px;
    }

    .soMe{
        padding-left: 60px;
        justify-content: flex-start;
        gap: 80px;
    }

    .techSec{
        height: 800px;
    }


    /* Feature section*/
    .featureSec{
        align-items: flex-start;
    }
    .featureHeader{
        width:auto;
    }

    /* My Words section */
    .myWordsSec{
        padding: 120px 89px 149px 89px;
    }

    /* 
    Set rule for all images
    .myWordsSec > img{
        width: 564px;
        height: 340px;
    } */

    .myWordsHeader{
        text-align: left;
        margin-bottom: 53px;
    }

    /* Skill section */
    .skillSec{
        padding: 121px 0 155px 0;
    }

    .skill-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 66px;   
    }

    .skill-child{
       text-align: left; 
    }

    /* Time to talk section */
    .timeToTalkSec{
        align-items: center;
        width: 100%;
        gap: 40px;
    }

    .talkHeader{
        font-weight: 900;
        font-size: 110px;
        line-height: 162px;
        max-width: 664px;
        margin-bottom: 75px;
    }

  }


  @media (min-width: 1024px){
    /* header and presentation */
    .presentationSec{
        display: flex;
        flex-direction: row-reverse;

    }
    .hero{
        display: inline-block;
        width: 50%;
        height: 980px;
    }

    .presentation-container{
        width: 50%;
        display: inline;
        padding-top: 252px;        ;
    }

    .profileImage{
        display: inline-block;
        margin: 0 50px -20px 0;
    }

    .presentation{display: inline-block;}

    
    
  }
